<div class="imagewrap">
  <div class="imageelement map" leaflet [leafletOptions]="options" [leafletCenter]="center" [leafletFitBounds]="layer"></div>
</div>
<div class="imagespacer"></div>
<div class="container">
  <div class="row height-spacer"></div>
  <div class="row">
    <div class="col s12 m12 l9">
      <div class="card-panel">
        <div class="boxarea-header">
          <h1>{{  trip?.title }}</h1>
        </div>
        <div class="boxarea-content" [innerHTML]="trip?.description | safeHtml"></div>

        <div class="documentgroup" *ngIf="trip.documents.length > 0">
          <div class="documentitem" *ngFor="let doc of trip.documents; let i=index">
            <a *ngIf="doc?.download.file" href="{{ doc?.download.file }}" target="_blank" class="btn download">Download {{ doc?.download.name }}</a>
          </div>
        </div>

        <div class="imagegroup" *ngIf="trip.gallery.length > 0">
          <div class="imagethumb" *ngFor="let image of trip.gallery; let i=index">
            <img [src]="image?.image.small" (click)="open(i)"/>
          </div>
        </div>

      </div>
    </div>
    <div class="col s12 m12 l3">
      <div class="col s12 m12 l12">
        <div class="card session-card">
          <div class="card-content">
            <p class="card-title">{{ trip?.start_date | date:'mediumDate' }}</p>
            <div *ngIf="trip.extrafields_set.length > 0">
              <div class="row" *ngFor="let extra of trip.extrafields_set; let i=index">
                <div class="col s12 m6">
                  <p class="brief"><strong>{{ extra.title}}</strong></p>
                </div>
                <div class="col s12 m6">
                  <p class="brief">{{ extra.value}}</p>
                </div>
              </div>
              </div>
            <canvas baseChart style="width:100%;"
                    [datasets]="tideData"
                    [options]="tideoptionslarge"
                    [colors]="tideColour"
                    [chartType]="'line'"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="imagespacer"></div>
