.cal-month-view .cal-day-cell.cal-weekend .cal-day-number{
  color:$main;
}

.cal-month-view .cal-days{
  border:1px solid $main;
  border-bottom:0;
}

.cal-month-view .cal-days .cal-cell-row{
  border-bottom: 1px solid $main;
}

.cal-month-view .cal-day-cell:not(:last-child){
  border-right:1px solid $main;
}

.cal-cell-tide{
  min-height:160px;
  position: relative;
  width: 100%;

  .cal-chart{
    width: 100%;
    height: 80px;
    position: relative;
    top: 0px;
    display: inline-block;
  }

  .cal-date{
    float: left;
    margin: 5px;
    font-size: 17px;
    font-weight: bold;
    color:$main;
  }

  .cal-weather{
    float:right;
    margin: 5px;
  }

}

.cal-actions{

    &.absolute{
      position: relative;
      display: flex;
      width: 100%;
      bottom: 0px;
      height: 26px;
      margin-bottom: 2px;
      flex-wrap: wrap;
      justify-content: baseline;
    }


    .chip{
      width:98%;
      max-width:115px;
      font-size:13px;
      line-height: 26px;
      height:26px;
      margin: 0 2px 4px 2px;

      .close{
        line-height:26px;
      }

      &.event{
        background-color:$main;
        color:white;
      }

      &.important{
        background-color:$red;
        color:white;
      }

      &.go{
        background-color: $green;
        color:white;
      }
    }
  }

.modal-overlay{
  display: none !important;
}

.eventblock{
  margin-bottom:10px;
  padding-bottom:10px !important;
  border-bottom:1px solid $main;
  p{
    margin:0px;
    padding-bottom:2px;
  }
}

.modal-header{
  .btn-flat{
    float:right;
  }
}

.winddata{
  position: relative;
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
  justify-content: baseline;
  text-align: center;

  p{
    margin:0;
    padding:0;
    font-size:12px;
  }

  .wcol{
    display:inline-block;
    width: calc(100% / 25);

    p{
      height:22px;

      i{
        font-size:20px !important;
      }
    }
  }
}

p.eventype{
  text-transform: capitalize;
  font-size:22px;
  text-decoration: underline;
}
