
<div class="container">
  <div class="row height-spacer"></div>
  <div class="row">

    <div class="col s12 m12 l8">
      <div class="card-panel">

        <div class="row">
          <div class="col s6">
            <div class="btn-group">
              <div
                class="btn btn-primary"
                mwlCalendarPreviousView
                view="month"
                [(viewDate)]="viewDate">
                Previous
              </div>
              <div
                class="btn btn-secondary"
                mwlCalendarToday
                [(viewDate)]="viewDate">
                Today
              </div>
              <div
                class="btn btn-primary"
                mwlCalendarNextView
                view="month"
                [(viewDate)]="viewDate">
                Next
              </div>
            </div>
          </div>
          <div class="col s6 text-right" >
            <h3>{{ viewDate | calendarDate:'monthViewTitle':'en' }}</h3>

          </div>
        </div>
        <br>

        <ng-template #customCellTemplate let-day="day" let-locale="locale">
          <div class="cal-cell-tide">
            <span class="cal-date">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span>
            <span class="cal-weather">{{ day.dayData?.temperature }} C</span>
            <div class="cal-chart">
              <canvas baseChart style="width:100%;height:100%;"
                      [datasets]="day?.tideData"
                      [options]="day.tideOptions"
                      [colors]="day.tideColour"
                      [chartType]="'line'"></canvas>
            </div>

            <div class="cal-actions" *ngIf="day?.plaEvents > 0">
              <div class="chip event">
                <i class="close material-icons">warning</i>Events {{ day.plaEvents }}
              </div>
            </div>

            <div class="cal-actions" *ngIf="day?.tideImportant > 0">
              <div class="chip important">
                <i class="close material-icons">warning</i>Important {{ day.tideImportant }}
              </div>
            </div>


          </div>
        </ng-template>

        <mwl-calendar-month-view
          [viewDate]="viewDate"
          [events]="events"
          [cellTemplate]="customCellTemplate"
          [refresh]="refresh"
          [extra]="calser"
          (dayClicked)="openModal($event.day.date)"
          [dayModifier]="dayData">
        </mwl-calendar-month-view>


      </div>
    </div>
    <app-next-session></app-next-session>
  </div>
</div>
<div class="imagespacer"></div>

<div id="modal1" class="modal" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions">
  <div class="modal-header">
    <a class="waves-effect waves-green btn-flat" (click)="closeModal()"><i class="material-icons">close</i></a>
  </div>
  <div class="modal-content">
    <h4>{{ clickDate | date:'fullDate' }}</h4>
    <div class="row">
      <div class="col s12 m6">
        <canvas baseChart
                width="100%"
                [datasets]="daytide"
                [options]="tideoptionslarge"
                [colors]="tideColour"
                [chartType]="'line'"></canvas>
        <div class="winddata">
          <div class="wcol">
            <p>hr</p>
            <p></p>
            <p>kt</p>
            <p>°C</p>
            <p><i class="material-icons">grain</i></p>
          </div>
          <div class="wcol" *ngFor="let wind of daydata?.windy_set">
            <p>{{ wind?.hour }}</p>
            <p><i class="material-icons" [style]="getdirection(wind)">arrow_upward</i></p>
            <p>{{ wind?.speed }}</p>
            <p>{{ wind?.celsius }}</p>
            <p>{{ wind?.rain }}</p>
          </div>
        </div>
      </div>
      <div class="col s12 m6">
        <ul>
          <li><strong>Days Forecast</strong></li>
          <li>Sun rise: {{ daydata?.sun_rise }}</li>
          <li>Sun set: {{ daydata?.sun_set }}</li>
          <li>Max temperature {{ daydata?.temperature }} C</li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <h4>Events today on the Thames</h4>
        <div *ngIf="eventcount == 0">
          <p>No events adertised today.</p>
        </div>
        <div *ngIf="eventcount > 0">
          <div *ngFor="let event of daydata.event_set" class="col s12 eventblock">
            <p class="eventype">{{ event?.event_type }}</p>
            <p>{{ event?.title }}</p>
            <p>{{event?.start_time }} - {{ event?.end_time }}</p>
            <p [innerHTML]="event?.description"></p>
          </div>

          <div *ngFor="let event of daydata.plaevent_set" class="col s12 eventblock">
            <p>{{ event?.title }} - {{ event?.club_name }}</p>
            <p>Is river clsoed : {{ event?.river_closure }}</p>
            <p>Direction: {{ event?.district_description_one }}</p>
            <p>From: {{ event?.from_time}}</p>
            <p>To: {{ event?.to_time}}</p>
            <a href="{{ event?.link }}">Link to activity</a>
          </div>
        </div>
      </div>
    </div>




  </div>
  <div class="modal-footer">

  </div>
</div>
