<div class="imagewrap">
  <div class="imageelement" [ngStyle]="{'background-image': 'url(' + image?.file + ')'}" ></div>
</div>
<div class="imagespacer"></div>
<div class="container wow fadeIn">
  <div class="row height-spacer"></div>
  <div class="row">
    <app-content-area [column]="1" [title]="about.title" [content]="about.description" *ngFor="let about of abouts"></app-content-area>
    <div class="col s12 m12 l3">
      <app-next-session></app-next-session>
    </div>
  </div>
</div>
<div class="imagespacer"></div>
